.download {
  margin-top: 280px;
  padding-top: 28px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: #1d2631;
  text-align: center;

  outline: 5px solid rgba(255, 99, 78, 0.5);
  outline-offset: -5px;

  @media (min-width: @tablet-width) {
    max-width: 300px;
    margin-top: 0;
    background-color: transparent;
  }

  @media (min-width: @desktop-width) {
    max-width: 300px;
    margin-top: 0;
    padding-left: 0;
    background-color: transparent;
  }
}

.download__list {
  list-style-type: none;
}

.download__title {
  margin: 0;
  margin-top: 116px;
  padding: 0;
  padding-bottom: 38px;
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  color: #ffffff;
}
