.header-inner {
  min-height: 237px;
  margin-top: -66px;
  background-image: url("../img/form/back-mobile.jpg");
  background-size: 100% auto;
  background-color: #1d2631;
  background-repeat: no-repeat;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/form/back-mobile@2x.jpg");
    background-size: cover;
  }

  @media (min-width: @tablet-width) {
    min-height: 440px;
    margin-top: -110px;
    background-image: url("../img/form/back-tablet.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/form/back-tablet@2x.jpg");
      background-size: cover;
    }
  }

  @media (min-width: @desktop-width) {
    min-height: 394px;
    margin-top: -110px;
    background-image: url("../img/form/back-desktop.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/form/back-desktop@2x.jpg");
      background-size: cover;
    }
  }

  &--catalog {
    @media (min-width: @desktop-width) {
      padding-bottom: 54px;
    }
  }
}

.header-inner__title {
  max-width: 228px;
  margin: -66px auto 0 auto;
  padding-top: 95px;
  font-size: 24px;
  line-height: 33px;
  font-weight: 300;
  text-align: center;
  color: #ffffff;

  @media (min-width: @tablet-width) {
    max-width: 620px;
    margin: 0 auto;
    padding: 180px 20px 64px 20px;
    font-size: 50px;
    line-height: 68px;
  }

  @media (min-width: @desktop-width) {
    max-width: 357px;
    padding: 170px 210px 104px 210px;
  }

  &--form {
    @media (min-width: @tablet-width) {
      padding-bottom: 54px;
    }

    @media (min-width: @desktop-width) {
      max-width: 747px;
    }
  }
}
