.main-nav {
  outline: 5px solid rgba(255, 0, 21, 0.8);
  outline-offset: -5px;
}

@media (min-width: @desktop-width) {
  .main-nav__toggle {
    display: none;
  }
}

.main-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
