.page-footer {
  @media (min-width: @desktop-width) {
    padding: 0 130px;
  }
}

.page-footer__wrapper {
  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 660px;
    margin: auto;
    padding: 0 20px;
    box-sizing: border-box;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    justify-content: space-between;
    max-width: 940px;
    margin: auto;
    box-sizing: border-box;
  }
}

.page-footer__logo {
  display: block;
  width: 145px;
  height: 40px;
  margin: auto;
  padding-top: 40px;
  padding-bottom: 41px;

  @media (min-width: @tablet-width) {
    margin: 0;
  }

  @media (min-width: @desktop-width) {
    width: 147px;
    height: 40px;
    padding-top: 70px;
    padding-bottom: 87px;
  }
}


.logo--mobile {
  @media (min-width: @desktop-width) {
    display: none;
  }
}

.logo--desktop {
  display: none;

  @media (min-width: @desktop-width) {
    display: block;
  }
}

.logo .logo__word,
.logo .logo__stars {
  fill: #283645;
}

.logo .logo__glasses,
.logo .logo__star {
  fill: #d22856;
}

/* &:active {
    opacity: 0.3;
  }
*/
.page-footer__social {
  margin-bottom: 41px;

  @media (min-width: @tablet-width) {
    margin: 0;
  }
}
