.page-header {
  display: flex;
  justify-content: space-between;
  padding: 22px 20px;
  background-color: rgba(0, 0, 0, 0.3);
  color: #ffffff;
  outline: 5px solid rgba(255, 99, 78, 0.5);
  outline-offset: -5px;

  @media (min-width: @tablet-width) {
    padding: 43px 20px;
  }

  @media (min-width: @desktop-width) {
    max-width: 940px;
    margin: auto;
    padding: 27px 130px;
  }
}

.page-header__logo {
  display: block;
  width: 74px;
  height: 23px;
  outline: 5px solid rgba(255, 99, 78, 0.5);
  outline-offset: -5px;

  @media (min-width: @desktop-width) {
    padding-right: 246px;
  }
}

.pink-white {
  display: block;
}
