.page-footer__wrapper {
  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 660px;
    margin: auto;
    padding: 0 20px;
    box-sizing: border-box;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    max-width: 940px;
    margin: auto;
    padding: 74px 130px 75px 130px;
    box-sizing: content-box;
  }
}

.page-footer__link {
  display: block;
  width: 145px;
  height: 40px;
  margin: auto;
  padding-top: 40px;
  padding-bottom: 41px;
  fill: #283645;

  @media (min-width: @tablet-width) {
    margin: 0;
    padding-top: 36px;
    padding-bottom: 51px;
  }

  @media (min-width: @desktop-width) {
    width: 147px;
    height: 40px;
    padding: 0;
  }

  &:hover {
    fill: #d22856;
  }

  &:active {
    fill: #283645;
    opacity: 0.3;
  }
}

.page-footer__logo--mobile {
  @media (min-width: @desktop-width) {
    display: none;
  }
}

.page-footer__logo--desktop {
  display: none;

  @media (min-width: @desktop-width) {
    display: block;
  }
}

.page-footer__social {
  margin-bottom: 41px;

  @media (min-width: @tablet-width) {
    margin: 0;
  }
}
