.perfomance__wrapper {
  outline: 5px solid rgba(255, 99, 78, 0.5);
  outline-offset: -5px;
}

.perfomance__slogan {
  margin: 0;
  padding-top: 95px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 24px;
  line-height: 29px;
  font-weight: 300;
  text-align: center;
  color: #ffffff;

  @media (min-width: @tablet-width) {
    max-width: 300px;
    padding-top: 212px;
    padding-bottom: 39px;
    font-size: 40px;
    line-height: 48px;
  }

  @media (min-width: @desktop-width) {
    max-width: 300px;
    padding-top: 224px;
    padding-bottom: 51px;
    padding-left: 130px;
    font-size: 50px;
    line-height: 68px;
  }
}
