.perfomance {
  min-height: 462px;
  margin-top: -66px;
  background-image: url("../img/phone-mobile.png"),
    url("../img/back-mobile.jpg");
  background-size: 320px 286px, 100% auto;
  background-position: 50% 176px, 50% top;
  background-color: #1d2631;
  background-repeat: no-repeat;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/phone-mobile@2x.png"),
      url("../img/back-mobile@2x.jpg");
    background-size: 320px auto, cover;
  }

  @media (min-width: @tablet-width) {
    min-height: 729px;
    margin-top: -110px;
    background-position: 65% bottom, 50% top;
    background-image: url("../img/phone-tablet.png"),
      url("../img/back-tablet.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/phone-tablet@2x.png"),
        url("../img/back-tablet@2x.jpg");
      background-size: 660px, cover;
    }
  }

  @media (min-width: @desktop-width) {
    min-height: 853px;
    margin-top: -110px;
    background-position: 65% bottom, 50% top;
    background-image: url("../img/phone-desktop.png"),
      url("../img/back-desktop.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/phone-desktop@2x.png"),
        url("../img/back-desktop@2x.jpg");
      background-size: 1050px, cover;
    }
  }
}

.perfomance__wrapper {
  margin: auto;
  max-width: 940px;
}

.perfomance__column {
  @media (min-width: @desktop-width) {
    max-width: 300px;
  }
}

.perfomance__slogan {
  max-width: 280px;
  margin: auto;
  padding-top: 95px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 24px;
  line-height: 29px;
  font-weight: 300;
  text-align: center;
  color: #ffffff;
  outline: 5px solid rgba(255, 99, 78, 0.5);
  outline-offset: -5px;

  @media (max-width: @mobile-width-only) {
    br {
      display: none;
    }
  }

  @media (min-width: @tablet-width) {
    max-width: 300px;
    margin: 0;
    padding-top: 212px;
    padding-bottom: 39px;
    font-size: 40px;
    line-height: 48px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 224px;
    padding-bottom: 51px;
    font-size: 50px;
    line-height: 68px;
  }
}
