.photo {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.photo__link {
  display: block;
  max-width: 100%;
  height: auto;

  @media (min-width: @tablet-width) {
    padding: 0;
  }

  &--main {
    max-width: 100%;
    height: auto;

    @media (min-width: @tablet-width) {
      margin: 0;
    }

    @media (min-width: @desktop-width) {
      margin: 0;
    }
  }
}

.photo__info {
  margin: 0;

  &--main {
    @media (min-width: @tablet-width) {
      order: 1;
    }
  }
}

.photo__time {
  font-weight: 300;
  font-size: 12px;
  text-transform: uppercase;
  line-height: 24px;
}

.photo__desc {
  padding-bottom: 17px;

  &--main {
    @media (min-width: @tablet-width) {
      order: 3;
    }
  }
}

.photo__text {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0;
  margin-left: 20px;
  margin-right: 20px;
  padding: 25px 10px 19px 17px;
  font-size: 14px;
  line-height: 24px;
  box-sizing: border-box;
  background-color: #f2f2f2;

  @media (min-width: @tablet-width) {
    flex-grow: 1;
    margin: 0;
    padding: 23px 30px;
  }


  @media (min-width: @desktop-width) {
    padding: 24px 31px 23px 27px;
  }

  &--main {
    margin-left: 20px;
    margin-right: 20px;

    @media (min-width: @tablet-width) {
      flex-direction: row;
      justify-content: space-between;
      margin: 0 auto;
      max-width: 620px;
    }

    @media (min-width: @desktop-width) {
      margin: 0 auto;
      max-width: 940px;
    }
  }
}

.photo__like {
  position: relative;
  padding-left: 31px;
  font-size: 12px;
  line-height: 24px;
  text-transform: uppercase;
  color: #d22856;

  @media (min-width: @tablet-width) {
    margin-top: auto;
    padding-left: 0;
  }

  &--main {
    @media (min-width: @tablet-width) {
      order: 2;
      padding-left: 0;
      padding-right: 29px;
    }
  }

  &::before {
    position: absolute;
    top: 6px;
    left: 0;
    width: 13px;
    height: 12px;
    background-image: url("../img/catalog/heart.svg");
    background-repeat: no-repeat;
    content: "";

    @media (min-width: @tablet-width) {
      left: 95%;
    }
  }
}

.photo__like--main::before {
  @media (min-width: @tablet-width) {
    left: 90%;
  }
}
