.posts__wrapper-description {
  padding: 44px 20px 50px 20px;
  margin-top: -210px;
  font-size: 14px;
  background-color: #ffffff;
  outline: 5px solid rgba(255, 99, 78, 0.5);
  outline-offset: -5px;
}

.posts__description {
  margin: 0;
  text-align: center;
}

.posts__wrapper {

  outline: 5px solid rgba(255, 99, 78, 0.5);
  outline-offset: -5px;
}

.posts__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.posts__item:not(:first-child) {
  margin-right: 20px;
  margin-left: 20px;
  outline: 5px solid rgba(255, 99, 78, 0.5);
  outline-offset: -5px;
}

.posts__item:not(:last-child) {
  margin-bottom: 20px;
}

.photo__link {
  display: block;
  width: 280px;
  height: 180px;


  &--main {
    width: 320px;
    height: 137px;
    padding-left: 0;
  }
}

.photo__text {
  margin: 0;
  padding-top: 26px;
  padding-right: 10px;
  padding-left: 17px;
  font-size: 14px;
  background-color: #f2f2f2;
}

.photo__text:first-of-type {
  margin-left: 20px;
  margin-right: 20px;
}
