.publication {
  @media (min-width: @desktop-width) {
    padding-left: 130px;
    padding-right: 130px;
  }
}

.publication__column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media (min-width: @tablet-width) {
    margin-left: auto;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: auto;
  }
}

.publication__wrapper {
  background-color: #f2f2f2;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    padding: 58px 20px 53px 20px;
  }

  @media (min-width: @desktop-width) {
    max-width: 940px;
    margin: auto;
    margin-bottom: 28px;
    padding: 57px 60px 57px 80px;
    box-sizing: border-box;
  }
}

.publication__button-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 41px;

  @media (min-width: @tablet-width) {
    padding: 0;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.publication__description {
  max-width: 280px;
  margin: 0 auto;
  padding: 45px 20px 40px 20px;
  font-size: 14px;
  text-align: center;

  @media (min-width: @tablet-width) {
    max-width: 100%;
    padding: 63px 119px 69px 119px;
    font-size: 18px;
  }

  @media (min-width: @desktop-width) {
    max-width: 940px;
    padding: 57px 80px 70px 80px;
    box-sizing: border-box;
    margin: auto;
  }
}

.publication__link {
  display: block;
  max-width: 100%;
  height: auto;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 23px;
  padding: 20px;

  @media (min-width: @tablet-width) {
    width: 300px;
    margin: 0;
    margin-right: auto;
    padding: 0;
  }

  @media (min-width: @desktop-width) {
    margin-right: 90px;
  }

  &:focus,
  &:focus-visible {
    outline: 5px solid #d22856;
  }
}
