.radio {
  padding-left: 22px;
  padding-bottom: 54px;
  background-color: #f2f2f2;

  outline: 5px solid rgba(255, 99, 78, 0.5);
  outline-offset: -5px;
}

.radio__legend {
  padding-top: 42px;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: #d22856;
}

.radio__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.radio__item:not(:last-child) {
  margin-bottom: 62px;
}
