.research {
  background-color: #ffffff;

  @media (max-width: @mobile-width-only) {
    display: none;
  }

  @media (min-width: @desktop-width) {
    background-color: #f2f2f2;
  }
}

.research__wrapper {
  outline: 5px solid rgba(255, 99, 78, 0.5);
  outline-offset: -5px;

  @media (min-width: @tablet-width) {
    margin: 0 auto;
    max-width: 660px;
    padding: 102px 20px 138px 330px;
    box-sizing: border-box;
  }

  @media (min-width: @desktop-width) {
    max-width: 940px;
    margin: auto;
    padding: 115px 130px 120px 369px;
    box-sizing: border-box;
  }
}

.research__title {
  margin: 0;
  font-size: 30px;

  @media (min-width: @tablet-width) {
    max-width: 168px;
    margin-bottom: 32px;
    line-height: 36px;
  }

  @media (min-width: @desktop-width) {
    max-width: 310px;
    margin-bottom: 37px;
    line-height: 30px;
  }
}

.research__description {
  margin: 0;

  @media (min-width: @tablet-width) {
    max-width: 310px;
    margin-bottom: 24px;
    font-size: 14px;
    line-height: 24px;
  }

  @media (min-width: @desktop-width) {
    max-width: 534px;
    margin-bottom: 47px;
    font-size: 18px;
    line-height: 30px;
  }
}

.research__link {
  color: #d22856;
  text-decoration: underline;

  @media (min-width: @tablet-width) {
    font-size: 14px;
    line-height: 24px;
  }

  @media (min-width: @desktop-width) {
    font-size: 18px;
    line-height: 30px;
  }
}
