.scale__wrapper {
  position: relative;
  margin-top: 10px;
  margin-bottom: 66px;

  @media (min-width: @tablet-width) {
    max-width: 202px;
    margin-bottom: 0;
    margin-top: 13px;
    padding-right: 20px;
  }

  @media (min-width: @desktop-width) {
    margin-left: 35px;
  }
}

.scale__input {
  position: relative;
  width: 240px;
  height: 2px;
  appearance: none;
  background-color: #283645;

  @media (min-width: @tablet-width) {
    width: 202px;
    margin-bottom: 71px;
  }

  @media (min-width: @desktop-width) {
    width: 288px;
  }

  &--first {
    @media (min-width: @tablet-width) {
      position: relative;
    }
  }

  &--second {
    display: none;

    @media (min-width: @tablet-width) {
      display: block;
      position: relative;
    }

    @media (min-width: @desktop-width) {
      display: block;
    }
  }

  &--third {
    display: none;

    @media (min-width: @tablet-width) {
      margin-bottom: 0;
      position: relative;
    }
  }

  @media (min-width: @tablet-width) {
    display: block;
  }

  @media (min-width: @desktop-width) {
    display: block;
  }
}

.scale__input::-webkit-slider-thumb,
.scale__input::-webkit-scrollbar-button,
.scale__input::-webkit-outer-spin-button,
.scale__input::-webkit-inner-spin-button {
  appearance: none;
}

.scale__toggle {
  position: absolute;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  box-sizing: border-box;
  border: 2px solid #d22856;
  background-color: #ffffff;
  cursor: pointer;
  content: "";

  &:active {
    background-color: #d22856;
  }

  &--first {
    top: 50%;
    left: 80%;

    @media (min-width: @tablet-width) {
      display: block;
      top: -3px;
      left: 73%;
    }

    @media (min-width: @desktop-width) {
      left: 238px;
    }
  }

  &--second {
    @media (max-width: @mobile-width-only) {
      display: none;
    }

    @media (min-width: @tablet-width) {
      display: block;
      top: 69px;
      left: 11%;
    }

    @media (min-width: @desktop-width) {
      left: 21%;
    }
  }

  &--third {
    @media (max-width: @mobile-width-only) {
      display: none;
    }

    @media (min-width: @tablet-width) {
      display: block;
      top: 141px;
      left: 44%;
    }

    @media (min-width: @desktop-width) {
      left: 75%;
    }
  }
}
