.slider__button {
  padding: 0;
  border: none;
  cursor: pointer;
  background-color: #ffffff;
  fill: rgba(40, 54, 69, 0.3);

  @media (max-width: @mobile-width-only) {
    display: none;
  }

  @media (min-width: @tablet-width) {
    display: none;
  }

  @media (min-width: @desktop-width) {
    display: block;
  }


  &:hover {
    fill: fade(#283645, 60%);
  }

  &:active {
    fill: fade(#283645, 10%);
  }

  &:focus,
  &:focus-visible {
    outline: 2px solid #d22856;
  }

  &--prev {
    transform: rotate(180deg);
  }
}

.slider__toggle {
  width: 12px;
  height: 12px;
  padding: 0;
  background-color: fade(#283645, 30%);
  border: 3px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;

  &:hover {
    background-color: fade(#283645, 60%);
  }

  &:active {
    background-color: fade(#283645, 10%);
  }

  &--current {
    margin-right: 13px;
    background-color: #ffffff;
    border: 3px solid #283645;
  }

  &--second {
    margin-right: 10px;
  }

  &--grey {
    border: 3px solid #f2f2f2;
  }

  &--middle {
    margin-right: 6px;
    margin-left: 6px;
    background-color: #ffffff;
    border: 3px solid #283645;
  }

  @media (min-width: @desktop-width) {
    display: none;
  }
}

.slider__container {
  display: flex;
  align-items: center;
  margin: 0;
}
