.page {
  height: 100%;
  font-size: 18px;
  font-weight: 400;
  font-family: "Open Sans", "Arial", sans-serif;
  line-height: 30px;
}

.page__body {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  min-height: 100%;
  margin: 0;
  background-color: #ffffff;
  color: #283645;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

a {
  display: block;
  text-decoration: none;
}

img {
  display: block;
  margin: auto;
}
